<h3>Search Vehicles</h3>
<div class="search-group">
    <input type="text" class="form-control" (keyup.enter)="search($event.target.value)" placeholder="Type query and press enter ..."
    [value]="vehicleService.params.getValue().query">
</div>

<div class="vehicle-group">
  <div class="vehicle-group-item" *ngFor="let vehicle of vehicles | async">
     {{vehicle.name}} - {{vehicle.model}}
  </div>
</div>    

<div *ngIf="vehicleService.state.loading">loading...</div>
<div class="vehicle-pagination" *ngIf="vehicles | async">
    <div class="vehicle-pagination-item" *ngFor="let page of vehicleService.state.pages; let i = index" [attr.data-index]="i">
           <a href="javascript:void(0);" (click)="setPage(i+1)">{{i+1}}</a> 
    </div>   
</div>
